@keyframes pop {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slider {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(calc(-100% - 10px));
    }
}