/* 350 */
@media (max-width: 1300px) {

    /*& Navbar Section */
    nav .container {
        position: relative;
    }

    nav .container .navbar-content {
        position: relative;
        background-color: rgb(252, 249, 248, .8);
    }

    nav .container .navbar-toggler {
        padding: 2px 5px;
        margin-bottom: 15px;
    }

    nav .container .navbar-toggler:focus {
        box-shadow: 0 0 0 0 transparent;
    }

    /*& Header Section */
    header {
        height: auto;
    }

    header .container {
        flex-direction: column;
    }

    header .container .part-1 {
        width: 100%;
        margin: 20px;
        text-align: center;
    }

    header .container .part-1 .caption {
        font-size: 12px;
        width: 100%;
    }

    header .container .part-1 h1 {
        font-size: 30px;
        width: 100%;
        margin: 10px 0px;
    }

    header .container .part-1 p {
        margin-bottom: 10px;
        font-size: 12px;
        width: 100%;
    }

    header .container .part-1 .buttons button {
        padding: 5px 10px;
        font-size: 12px;
    }

    header .container .part-2 {
        width: 100%;
    }

    /*&  Browse Section  */
    #Collections .container .collection .box {
        margin: auto;
        width: 40%;
        margin-bottom: 15px;
    }

    /*& Signature Section */
    #Signature .container .section-header .title h3 {
        font-size: 16px;
    }

    #Signature .container .section-header a {
        font-size: 12px;
    }

    #Signature .container .section-content .card {
        width: 280px;
        margin: auto;
    }

    #Signature .container .section-content .card:not(:last-child) {
        margin-bottom: 15px;
    }

}

/* 450 */
@media (min-width: 371px) and (max-width: 1300px) {

    /*& Header Section */
    header .container .part-2 {
        width: 300px;
    }
}

/* 650 */
@media (min-width: 577px) and (max-width: 1300px) {

    /*& Header Section */
    header .container .part-1 .caption {
        font-size: 14px;
    }

    header .container .part-1 h1 {
        font-size: 40px;
        margin: 20px 0px;
    }

    header .container .part-1 p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    /*&  Browse Section  */
    #Collections .container .collection .box {
        width: 33.33%;
        margin-bottom: 15px;
    }

    /*& Signature Section */
    #Signature .container .section-header .title h3 {
        font-size: 20px;
    }

    #Signature .container .section-header a {
        font-size: 14px;
    }

    #Signature .container .section-content .card {
        width: 50%;
    }

    #Signature .container .section-content .card {
        margin-bottom: 15px;
    }
}

/* 850 */
@media (min-width: 769px) and (max-width: 1300px) {

    /*& Header Section */
    header {
        height: calc(100vh - 80px);
    }

    header .container {
        flex-direction: row;
    }

    header .container .part-1 {
        width: 50%;
        margin: 0px;
        text-align: start;
    }

    header .container .part-1 .buttons button {
        padding: 8px 18px;
        font-size: 12px;
    }

    /*&  Browse Section  */
    #Collections .container .collection .box {
        width: calc(100% / 6);
        margin-bottom: 0px;
    }

    /*& Signature Section */
    #Signature .container .section-header .title h3 {
        font-size: 25px;
    }

    #Signature .container .section-content .card {
        width: 25%;
        margin: 0;
    }

    #Signature .container .section-content .card:not(:last-child) {
        margin-bottom: 0px;
    }

    #Signature .container .section-content .card .item .image a {
        padding: 2px;
    }

    #Signature .container .section-content .card .item .content h4 {
        font-size: 12px;
    }

    #Signature .container .section-content .card .item .content p {
        font-size: 12px;
        margin-bottom: 0;
    }

    #Signature .container .section-content .card .item .content .icons i {
        font-size: 12px;
    }
}

/* 1050 */
@media (min-width: 992px) and (max-width: 1300px) {

    /*& Navbar Section */
    nav .container {
        position: initial;
    }

    nav .container .navbar-content {
        position: initial;
        background-color: rgb(252, 249, 248, .8);
    }

    /*& Header Section */

    header .container .part-1 h1 {
        font-size: 45px;
    }

    /*& Signature Section */
    #Signature .container .section-content .card .item .image a {
        padding: 5px;
    }

    #Signature .container .section-content .card .item .content h4 {
        font-size: 16px;
    }

    #Signature .container .section-content .card .item .content p {
        font-size: 16px;
    }

    #Signature .container .section-content .card .item .content .icons i {
        font-size: 16px;
    }

}

/* 1250 */
@media (min-width: 1181px) and (max-width: 1300px) {}