/** Navbar Section*/
nav {
    position: fixed !important;
    top: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(252, 249, 248, .8);
    animation: pop 0.5s alternate ease;
    z-index: 999;
}

nav .container {
    margin-block: 0;
}

nav img {
    width: 100px;
}

nav .container .navbar-content {
    margin: 10px 0;
}

nav .navbar-content ul li {
    position: relative;
    margin-inline: 5px;
    font-size: 14px;
    width: fit-content;
}

nav .navbar-content ul li::after {
    content: "";
    position: absolute;
    display: block;
    width: 0%;
    height: 2px;
    bottom: 5px;
    background-color: var(--primary-color);
    transition-duration: .5s;
}

nav .navbar-content ul li:hover:after {
    width: 100%;
}

nav .navbar-content ul li.active::after {
    width: 100%;
}

nav .navbar-content ul li .active {
    color: var(--primary-color);
}

nav .navbar-content .icons a {
    color: var(--primary-color);
    margin-left: 15px;
    transition-duration: .5s;
}

nav .navbar-content .icons a:hover {
    color: var(--primary-hover);
}

/** Header Section */
header {
    height: calc(100vh - 80px);
}

header .container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*^ Header part 1 */
header .container .part-1 {
    width: 50%;
}

header .container .part-1 .caption {
    position: relative;
    font-size: 14px;
    color: var(--primary-color);
    animation: pop 0.5s alternate ease;
}


header .container .part-1 h1 {
    font-size: 50px;
    color: var(--text-color);
    width: 50%;
    margin: 20px 0px;
    animation: pop 0.5s alternate ease;
}

header .container .part-1 p {
    color: var(--paragraph-color);
    width: 80%;
    margin-bottom: 20px;
    animation: pop 0.5s alternate ease;
}


header .container .part-1 .buttons button {
    margin-right: 10px;
    padding: 10px 25px;
    background-color: black;
    border-radius: var(--border-r);
    border: 1px solid #000;
    cursor: pointer;
    transition-duration: .5s;
    animation: pop 0.5s alternate ease;
}

header .container .part-1 button:first-child:hover {
    border-color: transparent;
    background-color: var(--primary-hover);
    color: #000;
}

header .container .part-1 button:last-child {
    background-color: #fff;
}

header .container .part-1 button:last-child a {
    color: #000;
}

header .container .part-1 button:last-child:hover {
    background-color: rgba(0, 0, 0, 0.137);
}

/*^ Header part 2 */
header .container .part-2 {
    position: relative;
    width: 400px;
    border-radius: var(--border-r);
    overflow: hidden;
    height: stretch;
    animation: pop 1s alternate ease;
}

header .container .part-2::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    border-radius: 50%;
    background-color: rgb(0, 0, 0, .5);
    transition-duration: 1s;
}

header .container .part-2:hover:before {
    width: 100%;
    height: 100%;
    border-radius: var(--border-r);
}

header .container .part-2 img {
    width: 100%;
    height: 100%;
}

header .container .part-2 .content {
    position: absolute;
    bottom: -100%;
    padding: 15px;
    padding-right: 0px;
    background-color: rgb(255, 255, 255, .8);
    border-radius: 0 var(--border-r);
    z-index: 3;
}

header .container .part-2:hover .content {
    transition-duration: .5s;
    transition-delay: 1s;
    bottom: 0%;
}

header .container .part-2 .content p {
    font-size: 12px;
    margin-bottom: 5px;
    width: 70%;
    color: var(--primary-color);
}

header .container .part-2 .content h3 {
    width: 70%;
    font-size: 16px;
}

/**  Browse Section  */
#Collections .container .title h2 {
    position: relative;
    font-size: 28px;
    margin-bottom: 40px;
}

#Collections .container .title h2::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-color: var(--primary-color);
}

#Collections .container .collection {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

#Collections .container .collection .box {
    width: calc(100% / 6);
}

#Collections .container .collection .box .item {
    width: 90%;
    margin: auto;
    border-radius: var(--border-r);
    overflow: hidden;
}

#Collections .container .collection .box .item img {
    width: 100%;
    transition-duration: .5s;
    filter: blur(1px);
    filter: brightness(70%);
}

#Collections .container .collection .box .item:hover img {
    filter: brightness(100%);
    filter: blur(0);
    transform: scale(1.1);
}

/** Signature Section */
#Signature .container .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Signature .container .section-header .title p {
    font-size: 12px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#Signature .container .section-header .title h3 {
    font-size: 25px;
}

#Signature .container .section-header a {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transition-duration: .3s;
}

#Signature .container .section-header a:hover {
    color: var(--primary-hover);
    border-color: var(--primary-hover);
}

#Signature .container .section-content {
    margin-block: 30px;
    display: flex;
    flex-wrap: wrap;
}

#Signature .container .section-content .card {
    width: 25%;
    border: none;
    background-color: transparent;
}

#Signature .container .section-content .card .item {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

#Signature .container .section-content .card .item .image {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-r);
}

#Signature .container .section-content .card .item .image img {
    width: 100%;
    transition-duration: .5s;
}

#Signature .container .section-content .card .item .image:hover img {
    transform: scale(1.1);
    filter: brightness(75%);
}

#Signature .container .section-content .card .item .image a {
    position: absolute;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    border-radius: var(--border-r);
    width: 80%;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 150%);
}

#Signature .container .section-content .card .item .image:hover a {
    transition-duration: .5s;
    transform: translate(-50%, 0%);
}

#Signature .container .section-content .card .item .content {
    text-align: center;
    padding: 15px 5px;
}

#Signature .container .section-content .card .item .content h4 {
    font-size: 16px;
}

#Signature .container .section-content .card .item .content p {
    color: var(--paragraph-color);
    margin-bottom: 5px;
}

#Signature .container .section-content .card .item .content .icons {
    user-select: none;
}

#Signature .container .section-content .card .item .content .icons i {
    color: var(--primary-hover);
    transition-duration: .5s;
}

#Signature .container .section-content .card .item .content .icons i:hover {
    transform: translateY(-8px);
}